footer.s-footer
    .s-footer__wrapper
        .container
            .s-footer__grid
                .col
                    
                .col
                  
                .col  
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src='js/jquery.maskedinput.min.js')
script(src='js/main.js')
