/* =============== Default Skin Variables =============== */



/* Body Text & Background */

$primary_text: #65696e;

$body_bg: #ffffff;



/* Primary & Secondary Skin Colors */

$primary_skin: #f87b27;

$secondary_skin: #f87b27;



/* Neutral Colors */

$white: #ffffff;

$black: #1c1c1c;



/* Intensity Colors: from lightest to darkest tones */

$lightest_tone: #f6f7f8; /* for page title backgrounds */

$lighter_tone: #e4e8eb; /* for thicker(4px) borders */

$light_tone: #dae0e7; /* for 1px borders */

$medium_tone: #b5b9bc; /* for default button background color */

$stronger_tone: #909396; /* for secondary text color */

//$strongest_tone: #65686b; /* for secondary text color link hover */



/* Contact Form 7 Messages */

$success_color: #d7ffd8;
$warning_color: #fff5be;
$error_color: #fbd3c8;

