/* =============== Dark Skin Variables =============== */



/* Body Text & Background */

$primary_text: #9fa9b2;

$body_bg: #15161e;



/* Primary & Secondary Skin Colors */

$primary_skin: #3194d9;

$secondary_skin: #3194d9;



/* Neutral Colors */

$white: #f2f7fa;

$black: #1c1c1c;



/* Intensity Colors: from lightest to darkest tones */

$lightest_tone: #1e1f29; /* for page title backgrounds */

$lighter_tone: #323342; /* for thicker(4px) borders */

$light_tone: #3b3c4c; /* for 1px borders */

$medium_tone: #333742; /* for default button background color */

$stronger_tone: #676f77; /* for secondary text color */

//$strongest_tone: #65686b; /* for secondary text color link hover */



/* Contact Form 7 Messages */

$success_color: #d7ffd8;
$warning_color: #fff5be;
$error_color: #fbd3c8;

