extends layouts/_layout
include layouts/_singlePageHead
include components/_BlogItem
include sections/HybridProducts
include sections/SingleBanner
block content
    +PageHead("история lg")
        li: span История LG


    section.section.s-single-banner
        .bg.is-video.no-overlay(data-label="СМОТРЕТЬ ВИДЕО О ЗАРОЖДЕНИИ", data-video-id="VmRbLaBUxBo").js-modal-btn
            img(src="images/single/history-bg.png")
        .s-single-banner__box.text-center.b-border
            .s-single-banner__content
                .s-single-banner__title.is-lg РОждение легенды
                p.is-lg
                    | История компании Limagrain началась в 1965 году, когда основанный фермерами в долине Лимань в центральной части Франции кооператив по производству семян зерновых культур получил название Limagrain.



    section.section.s-history
        .container
            h2.section__title.is-md.text-center хронология нашего успеха
        .history-slider.owl-carousel
            .history-slider__item(data-date="2009" data-index="0")
                .history-slider__title 2009
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                a(href="#").history-slider__more ПОДРОБНЕЕ

            .history-slider__item(data-date="2010" data-index="1")
                .history-slider__title 2010
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                a(href="#").history-slider__more ПОДРОБНЕЕ

            .history-slider__item(data-date="2011" data-index="2")
                .history-slider__title 2011
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                a(href="#").history-slider__more ПОДРОБНЕЕ

            .history-slider__item(data-date="2012" data-index="3")
                .history-slider__title 2012
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                a(href="#").history-slider__more ПОДРОБНЕЕ

            .history-slider__item(data-date="2013" data-index="4")
                .history-slider__title 2013
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                a(href="#").history-slider__more ПОДРОБНЕЕ

            .history-slider__item(data-date="2014" data-index="5")
                .history-slider__title 2014
                .history-slider__desc
                    p Открытие филиала Лимагрен в России – ООО «Лимагрен РУ». Начало продаж легендарного гибрида ТУНКА, первого гибрида, устойчивого к заразихе рас A-G;
                    p (активная ссылка на гибрид).
                .history-slider__more ПОДРОБНЕЕ

        .container
            .history-slider-nav
                input(type="text").history-slider__range
                .history-slider-nav__items
                    span 2010
                    span 2011
                    span 2012
                    span 2013



    section.section.s-grid-blocks
        .container
            .s-grid-blocks__grid

                .col
                    .s-grid-blocks__box
                        h3.s-grid-blocks__title Limagrain Group в наши дни
                        p
                            | Это международный сельскохозяйственный кооператив, который занимается семенами ведущих полевых культур, семенами овощных культур, зерновыми ингредиентами и продуктами для садоводства.
                        p
                            | Компания имеет филиалы в 57 странах, в том числе и в России, продает семена более чем в 150 странах мира, численность сотрудников превышает 9 000 человек, 80-ти национальностей.
                .col: img(src="images/single/history-img1.png")


                .col: img(src="images/single/history-img2.png")
                .col
                    .s-grid-blocks__box
                        h3.s-grid-blocks__title Задавая ориентиры
                        p
                            | LG - главный ориентир для миллионов сельхозпроизводителей, предпочитающих качество семян и научные инновации.
                        p
                            | LG - международная марка семян различных сортов и гибридов компании Limagrain Europe. Эта международная компания - лидер в области семян таких основных полевых культур как: кукуруза, подсолнечник, мягкие и твердые сорта пшеницы, ячмень, тритикале, бобовые и кормовые культуры.
                        p
                            | На сегодняшний день наш красный логотип LG хорошо знаком в Европе и становится все более известным во всем мире. Он обозначает принадлежность к группе с международным авторитетом и подчеркивает дух новаторства и качественных обязательств на каждом этапе и участке нашей деятельности.

                .col
                    .s-grid-blocks__box
                        h3.s-grid-blocks__title Внедряя инновации
                        p Компания Лимагрен ежегодно инвестирует в исследовательскую деятельность 17% от годового оборота.
                        p Мы располагаем научно-исследовательской базой, состоящей из 70 центров и исследовательских станций в 14 странах по всему миру, которые ежегодно проводят сеть испытаний, что помогает нам успешно регистрировать перспективные гибриды сельскохозяйственных культур.
                        p Более 500 исследователей активно занимающихся исследованиями и разработками. Приоритет для нас – создание сильной линейки семенных продуктов на основе патентованной генетики в сочетании с инновационными свойствами, увеличивающими ценность.
                        p Для ускорения выведения гибридов компания закладывает опытные участки и в южном полушарии мира, что позволяет сократить время получения результатов в 2 раза.
                .col: img(src="images/single/history-img3.png")


                .col: img(src="images/single/history-img4.png")
                .col
                    .s-grid-blocks__box
                        h3.s-grid-blocks__title КСО - СОДЕЙСТВИЕ БОЛЕЕ УСТОЙЧИВОМУ ПРОГРЕССУ
                        p
                            | Limagrain стремится быть группой, гордящейся своими ценностями, и участником экономического и сельскохозяйственного развития в тех областях, в которых она работает, с целью поставить людей и человеческий прогресс во главу угла своих приоритетов.
                        a(href="#").ui-button-link.is-red.mt-120: span ПОДРОБНЕЕ О КСО

    section.section.s-info
        .container
            .s-info__form
                h2.section__title.is-lg.is-white.text-center
                    small Лозунг бренда LG -
                    br
                    | «Селекция Вашей прибыли»
                p.text-center Это означает, что цель нашей работы – достижение Вами наилучших результатов!

